{% unless customer %}
<!-- Modal Login -->
<div class="modal modal-form fade zoom" id="modalLogin">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-wrap-login active">
                    <div class="modal-title">{{ 'general.theme.login' | t }}</div>
                    <p class="text-center">{{ 'customer.login.if_have_title' | t }}</p>
                    <!-- form -->
                    {% form 'customer_login' %}
                    <div class="label">{{ 'customer.login.email' | t }}<span class="required">*</span></div>
                    <input type="email" class="form-control" name="customer[email]" placeholder="{{ 'customer.login.email' | t }}*">
                    <div class="label">{{ 'customer.login.password' | t }}<span class="required">*</span></div>
                    <input type="password" class="form-control" name="customer[password]" placeholder="{{ 'customer.login.password' | t }}*">
                    <p><a href="#" class="js-change-form">Forgot Password</a></p>
                    <button type="submit" class="btn btn-lg btn-full">{{ 'customer.login.sign_in' | t }}</button>
                    {% endform %}
                    <!-- /form -->
                    <p class="text-center">{{ 'customer.login.or' | t }}</p>
                    <a class="btn btn-lg btn-full btn-alt" href="/account/register">{{ 'layout.customer.create_account' | t }}</a></div>
            </div>
            <div class="form-wrap-password">
                <div class="modal-title">{{ 'customer.recover_password.title' | t }}</div>
                <p>{{ 'customer.recover_password.subtext' | t }}</p>
                <!-- form -->
                {% form 'recover_customer_password' %}
                <input class="form-control" type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}"  >
                <p><a href="#" class="js-change-form">{{ 'customer.recover_password.cancel' | t }}</a></p>
                <button type="submit" class="btn btn-lg btn-full">{{ 'customer.recover_password.submit' | t }}</button>
                {% endform %}
                <!-- /form -->
            </div>

        </div>
    </div>
</div>
<!-- /Modal Login -->
{% endunless %}

<!-- Modal Error -->
<div class="modal modal-countdown fade zoom info error" data-interval="5000" id="modalError">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &#10006; </button>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="icon-info"><i class="icon  icon-alert"></i></div>
                    <p></p>
                </div>
                <div class="modal-countdown">window closes in <b class="count"></b> seconds</div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Error -->
<!-- Modal Success -->
<div class="modal modal-countdown fade zoom info success" data-interval="5000" id="modalSuccess">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="icon-info"><i class="icon icon-alert"></i></div>
                    <p></p>
                </div>
                <div class="modal-countdown">window closes in <b class="count"></b> seconds</div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Success -->
<!-- Modal Quick View -->
<div class="modal quick-view zoom" id="quickView">
    <div class="modal-dialog">
        <div class="modalLoader-wrapper"><div class="modalLoader bg-striped"></div></div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
            <iframe></iframe>
        </div>
    </div>
</div>
<!-- /Modal Quick View -->
<!-- Modal Checkout -->
<div class="modal mdlchk fade" id="modalCheckout"
     data-addtocart-function="addToCartModal"
     data-getupsells-function="checkoutModalGetUpsells"
     data-qty-function="checkoutModalQtyUpdate"
     data-remove-function="checkoutModalRemoveItem"
     data-upsellclick-function="checkoutModalUpsellsAddToCart"
     data-price-converter="checkoutModalPriceUpdate"
     data-btn-text = '{"add_to_cart": "{{ 'general.theme.read_more' | t}}", "select_options": "{{ 'general.theme.read_more' | t}}", "pre_order": "{{ 'general.theme.read_more' | t}}", "sold_out": "Sold Out"}' data-cart=''>
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
            <div class="mdlchk-row display-flex js-mdlchk-row">
                <div class="mdlchk-col1">
                    <div class="mdlchk-prd-photo js-mdlchk-prd-photo"></div>
                </div>
                <div class="mdlchk-col2">
                    <div class="mdlchk-info">
                        <div class="text-center">
                            <div class="mdlchk-icon-added">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25.772 25.772" style="enable-background:new 0 0 25.772 25.772;" xml:space="preserve">
									<g>
                                        <path style="fill:#030104;" d="M25.646,13.74l-1.519-2.396l0.901-2.689c0.122-0.367-0.03-0.77-0.365-0.962l-2.458-1.417l-0.452-2.8 c-0.063-0.382-0.385-0.667-0.771-0.683l-2.835-0.111l-1.701-2.27c-0.232-0.31-0.652-0.413-0.999-0.246l-2.561,1.218l-2.562-1.219 C9.976,0,9.558,0.103,9.325,0.412l-1.701,2.27L4.789,2.793c-0.385,0.015-0.708,0.3-0.77,0.682l-0.452,2.8L1.109,7.692 C0.774,7.884,0.621,8.287,0.743,8.654l0.901,2.689L0.126,13.74c-0.207,0.327-0.154,0.754,0.125,1.022l2.047,1.963l-0.23,2.826 c-0.031,0.387,0.213,0.74,0.584,0.848l2.725,0.785l1.109,2.611c0.152,0.355,0.533,0.561,0.911,0.479l2.78-0.57l2.194,1.797 c0.149,0.121,0.332,0.184,0.515,0.184s0.365-0.063,0.515-0.184l2.194-1.797l2.78,0.57c0.377,0.08,0.76-0.123,0.911-0.479 l1.109-2.611l2.725-0.785c0.371-0.107,0.615-0.461,0.584-0.848l-0.23-2.826l2.047-1.963C25.8,14.494,25.853,14.067,25.646,13.74z M18.763,9.829l-5.691,8.526c-0.215,0.318-0.548,0.531-0.879,0.531c-0.33,0-0.699-0.185-0.934-0.421L7.081,14.22 c-0.285-0.29-0.285-0.76,0-1.05l1.031-1.05c0.285-0.286,0.748-0.286,1.031,0l2.719,2.762l4.484-6.718 c0.225-0.339,0.682-0.425,1.014-0.196l1.209,0.831C18.902,9.029,18.988,9.492,18.763,9.829z" /> </g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> <g></g> </svg>
                            </div>
                            <h2 class="mdlchk-prd-title js-mdlchk-prd-title"></h2>
                            <p class="mdlchk-added-text">{{ 'general.theme.has_been_added_to_cart' | t}}</p>
                        </div>
                        <div class="clearfix mt-20 display-flex">
                            <div class="mdlchk-prd-lbl pull-left">{{ 'cart.label.quantity_short' | t}}:</div>
                            <div class="pull-right">
                                <div class="pull-left">
                                    <div class="product-qty">
                                        <div class="qty qty-changer js-mdlchk-qty">
                                            <fieldset>
                                                <span class="js-mdlchk-prd-qty"></span>
                                                <input type="button" value="+" class="increase">
                                                <input type="button" value="-" class="decrease">
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix mt-5 display-flex">
                            <div class="mdlchk-prd-lbl pull-left">{{ 'cart.label.price' | t}}:</div>
                            <div class="pull-right">
                                <div class="mdlchk-prd-price custom-color-alt js-mdlchk-prd-price"></div>
                            </div>
                        </div>
                        <div class="mdlchk-actions display-flex">
                            <button data-dismiss="modal" class="btn btn-alt">{{ 'cart.general.continue' | t }}</button>
                            <a href="/checkout" class="btn">{{ 'general.theme.go_to_checkout' | t }}</a>
                        </div>

                        <div class="mdlchk-custom">
                            {% if settings.checkout_popup_guaranteed %}<h4>{{ settings.checkout_popup_guaranteed_caption }}</h4>{% endif %}
                            <img src="{% if settings.checkout_popup_guaranteed_image != blank %}{{ settings.checkout_popup_guaranteed_image | img_url:'master' }}{% else %}{{ 'guaranteed.png' | asset_url }}{% endif %}" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <div class="lastadded-carousel-wrap">
                <div class="title-wrap">
                    {% if settings.checkout_popup_upsells %}
                        <div class="title">
                            <h4 class="js-title-upsell">{{ settings.checkout_popup_upsells_caption }}</h4>
                        </div>
                    {% endif %}
                    {% if settings.checkout_popup_cart %}
                        <div class="title">
                            <h4 class="js-title-lastadded">{{ settings.checkout_popup_cart_caption }}</h4>
                        </div>
                    {% endif %}
                </div>
                <div class="carousels-wrap">
                    <div class="lastadded-carousel js-lastadded-carousel hidden-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": 1200,"settings": {"slidesToShow": 3}}]}'>
                    </div>
                    <div class="lastadded-carousel js-upsell-carousel hidden-carousel" data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "responsive": [{"breakpoint": 1200,"settings": {"slidesToShow": 3}}]}'>
                    </div>
                </div>
            </div>
            <a href="/cart" class="mdlchk-total display-flex">
                <div class="mdlchk-total-col1">
                    <div class="display-flex">
                        <i class="icon-cart"></i>
                        <div class="mdlchk-total_text"><span data-text-plural="{{ 'general.theme.there_are' | t}}"  data-text-single="{{ 'general.theme.there_is' | t}}" data-count="js-mdlchk-prd-count"></span> <span class="js-mdlchk-prd-count custom-color-alt"></span> <span data-text-plural="{{ 'general.theme.items' | t}}"  data-text-single="{{ 'general.theme.item' | t}}" data-count="js-mdlchk-prd-count"></span> {{ 'general.theme.in_your_cart' | t}}</div>
                        <div class="mdlchk-total_hover-text">{{ 'general.theme.go_to_your_cart' | t}}</div>
                    </div>
                </div>
                <div class="mdlchk-total-col2">
                    <!--<div class="display-flex">
                        <div>{{ 'general.theme.items_count' | t}}:</div>
                        <div class="custom-color-alt js-mdlchk-prd-count"></div>
                    </div>-->
                    <div class="display-flex">
                        <div>{{ 'cart.general.subtotal' | t }}:</div>
                        <span class="custom-color-alt js-mdlchk-prd-total"></span>
                    </div>
                </div>
                <div class="bg-striped"></div>
            </a>
            <div class="bg-striped"></div>
        </div>
    </div>
</div>
<!-- /Modal Checkout -->